$white: #fff;
$maincolor: #494c4e;
$beige: beige;
$black:black;
$grey: #eee;

$red: #d8151c;
$orange: #ed9b18;
$yellow: #d7c700;
$green : #06ab99;
$blue: #52a8dd;
$purple: #995292;

$git: #24292e;
$linkedin: #2867b2;