<footer>
  <div class="container">
    <ul class="navigation">
      <li class="navigation__list-item footer"><a href="/about">ABOUT ME</a></li>
    </ul>
    <div class="copyright">
      <p>© 2020 - <%= Time.current.year %> NINEFS</p>
    </div>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>
