    <header>
      <div class="container custom-header">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <div id="nav-toggle">
          <div>
              <span class="toggle"></span>
              <span class="toggle"></span>
              <span class="toggle"></span>
          </div>
        </div>
        <div class="gloval-nav">
          <ul class="navigation">
            <li class="navigation__list-item"><a href="/about">ABOUT ME</a></li>
            <li class="navigation__list-item">
              <label class="toggle-switch">
                <input type="checkbox" id="toggle-pride-mode" />
                <div class="slider">
                  <span class="label-text" id="toggle-label">Got Pride?</span>
                  <div class="knob"></div>
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </header>
