<div class="contents-getInTouch">
  <h2 class="contents-title">Get in touch</h2>
  <div class="getInTouch-message">
    I'm currently open to new opportunities in full-stack development.<br> If you think I’d be a good fit for your team, let’s chat!
    <ul class="snsbtn">
      <li><a href="mailto:ninefs2025@gmail.com?subject=Inquiry Regarding Your Portfolio&amp;body=[Please write your message here.]" class="sns-btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://github.com/MayuKuno" class="sns-btn git" target="_blank"><i class="fab fa-github home-git"></i></a></li>
      <li><a href="https://www.linkedin.com/in/%E7%9C%9F%E5%84%AA-%E4%B9%9D%E9%87%8E-000601184/" class="sns-btn linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</div>
