<div class="contents-hero">
  <div class="hero-message">
    Hey there, I’m Mayu.<br> A hard learner, <span id="queer">a queer engineer</span>, and a builder of things that matter.
    <br><br>Welcome to my space!
  </div>
  <div class="hero-photo">
    <img id="profile-photo" src="/images/main.jpg" alt="Mayu Kuno"/>
  </div>
</div>