<div class="contents-certification">
  <div>
    <h1 class="about-title">Certifications</h1>
    <div class="certifications">
      <h3>AWS Certification&nbsp;&nbsp;&nbsp;<small><p class="sparkle">AWS All Certifications Holder!⭐️</p></small></h3>
        <a href="https://www.credly.com/badges/48ea7c8c-9bee-4e25-8fc0-57e0e0404cd1/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/cpf.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/855376f2-19c9-4172-9fdf-0556710f5f7a/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/aif.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/e23c9b4e-b421-4cdc-9c69-27d974456938/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/dea.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/56c10739-3382-4394-948f-91399d68dc1e/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/dpa.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/92ba66c6-a0bd-4b3f-9e9a-baf310312b3e/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/mla.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/63fa15cc-0f85-4755-a762-75890eb31aad/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/saa.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/bc77f086-b783-4403-82e3-0e5e900ff347/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/soa.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/0d79ed63-884a-429a-9ef1-99d61eba43bf/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/ans.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/92ba66c6-a0bd-4b3f-9e9a-baf310312b3e/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/mls.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/9f63d6ec-35c8-4b85-89a4-681bd86b175c/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/scp.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/20eb0a2e-4a74-4238-a2c0-d2b063cd91d4/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/sap.png" alt="AWS Certified Professional">
        </a>
        <a href="https://www.credly.com/badges/242d733e-1b1a-412c-9956-29a1958b2817/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/dop.png" alt="AWS Certified Professional">
        </a>
    </div>
    <div class="certifications">
      <h3>Scrum Master</h3>
      <div>
        <a href="https://www.credly.com/badges/30fafc12-bded-4836-af86-a8ef36a9ded4/public_url" target="_blank" rel="noopener noreferrer">
          <img class="badge" src="/images/certificates/psm1.png" alt="AWS Certified Professional">
        </a>
      </div>
    </div>
  </div>
</div>
