

<div class="contents-experience">
  <h1 class="about-title">Experience & Skills</h1>
  <ul class="timeline">
    <li>
      <div>
        <p class="timeline__title">
          <i class="fas fa-building icon"></i>Works Human Intelligence
          <span class="badge current">Current</span>
          <span class="badge main">Main</span>
        </p>
        <p class="timeline__date">2021 Nov-<br>Present</p>
        <p class="timeline__circle"></p>
        <p class="timeline_role"> Full-Stack Developer</p>
        <p class="timeline__description">
          I started working as a full-stack developer, marking the beginning of my career as a software engineer. I contributed to both frontend and backend development of an enterprise HR system, focusing on improving efficiency, scalability, and user experience.
          I served as the primary developer for a core product that consolidates HR job processes across multiple internal systems and enables scheduled, automated execution. This product significantly improved operational efficiency and reduced manual effort.
        </p>
        <div class="timeline__skills">
          <h4>Skills Gained</h4>
          <ul>
            <li>AWS (Lambda, API Gateway, S3, DynamoDB, CloudWatch etc.. & All Certifications)</li>
            <li>Full-Stack Web Development (Vue, Typescript)</li>
            <li>Serverless Development</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <p class="timeline__title">
          <i class="fas fa-building icon"></i>Tokyo Rainbow Pride
          <span class="badge current">Current</span>
          <span class="badge sub">Sub</span>
        </p>
        <p class="timeline__date">2024 Nov-<br>Present</p>
        <p class="timeline__circle"></p>
        <p class="timeline_role"> Sponsorship Team Member</p>
        <p class="timeline__description">
          Working with the Sponsorship Team at Tokyo Rainbow Pride to promote LGBTQ+ inclusion and visibility.
          Responsible for communicating with partner companies and organizations, managing sponsorship proposals, and building long-term relationships through meaningful external collaborations.
        </p>
        <div class="timeline__skills">
          <h4>Skills Gained</h4>
          <ul>
            <li>Business Communication</li>
            <li>Sales & Partnership Management</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <p class="timeline__title"><i class="fas fa-building icon"></i>Rakuten</p>
        <p class="timeline__date">2018 Oct-<br>2021 Oct</p>
        <p class="timeline__circle"></p>
        <p class="timeline_role"> Digital Advertising Sales – LinkShare Japan (2018 Oct – 2020 Mar)</p>
        <p class="timeline__description">
          Worked as a sales representative at LinkShare Japan, a digital advertising agency under Rakuten Group. Focused on affiliate marketing, providing consultation and digital ad solutions to corporate clients. Gained practical experience in proposal writing, client communication, and media strategy.
        </p>
        <div class="timeline__skills">
          <h4>Skills Gained</h4>
          <ul>
            <li>Digital Marketing & Advertising</li>
            <li>Sales & Negotiation</li>
          </ul>
        </div>
        <p class="timeline_role">Quality Management – Rakuten Mobile (2020 Apr – 2021 Oct)</p>
        <p class="timeline__description">
          Transferred internally to Rakuten Mobile and worked in the Quality Management department.
          Our department led a customer-centric quality improvement initiative based on VOC (Voice of Customer) data. We established a Quality Management Committee involving executive leadership and delivered regular reports to drive continuous service improvement.        </p>
        <div class="timeline__skills">
          <h4>Skills Gained</h4>
          <ul>
            <li>Cross-Functional Communication</li>
            <li>Project Management</li>
            <li>Executive Stakeholder Communication</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <p class="timeline__title"><i class="fas fa-graduation-cap icon"></i>Akita International University</p>
        <p class="timeline__date">2018 Aug</p>
        <p class="timeline__circle"></p>
        <p class="timeline_role"> Bachelor's Degree in Global Business
        </p>
        <p class="timeline__description">
          After graduating from high school in Canada, I pursued liberal arts with a concentration in global business. The program emphasized cross-cultural understanding and global perspectives, which continue to inform my communication and teamwork today.
        </p>
        <div class="timeline__skills">
          <h4>Skills Gained</h4>
          <ul>
            <li>Cross-Cultural Communication</li>
            <li>Critical Thinking</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
