<div class="contents-self">
  <div class="about-photo">
    <img src="/images/self.jpg" alt="Mayu Kuno" />
  </div>
  <div class="about-description">
    <div>
      <p class="name">Mayu Kuno</p>
      <h3><b>AWS Certified Engineer (All Certifications) </b> | <b>Scrum Master Certified</b> | <b>Full-stack</b> | <b>Serverless</b></h3>
      <p>
        A full-stack engineer from Japan with all AWS certifications and a passion for serverless development
        I’m also a Scrum Master-certified professional who thrives in Agile environments.
      </p>
    </div>
    <ul class="about-snsbtn">
      <li><a href="mailto:ninefs2025@gmail.com?subject=Inquiry Regarding Your Portfolio&amp;body=[Please write your message here.]" class="about-snsbtn-btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://github.com/MayuKuno" class="about-snsbtn-btn git" target="_blank"><i class="fab fa-github home-git"></i></a></li>
      <li><a href="https://www.linkedin.com/in/%E7%9C%9F%E5%84%AA-%E4%B9%9D%E9%87%8E-000601184/" class="about-snsbtn-btn linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <!-- <li>
        <a href="/images/resume.pdf" 
          class="about-download-btn resume" 
          download="Mayu_Kuno_Resume.pdf">
          <i class="fas fa-file-alt"></i>Download Resume
        </a>
      </li> -->
    </ul>
  </div>
</div>